<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Saurabh Panja,Panja Saurabh, Panja, Saurabh, saurabhpanja,
  saurabhpanja.com, Saurabh Panja Developer, Saurabh Panja code, Saurabh Panja Web Developer,
  Saurabh Panja blog, Saurabh Panja blogger">
  <meta name="author" content="Saurabh Panja">
  <meta name="description" content="Hi! I am Saurabh Panja, a developer, a blogger and this is my
  website.">
  <link rel="shortcut icon" href="/img/favicon.png">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <title>Saurabh Panja | Developer</title>

  <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- My styles -->
  <link rel="stylesheet" href="/css/style.css">
  <meta name="google-site-verification" content="HNIX9-iXd-v3DhLgDi5_mJYbxH6rb9phlt1ShLJ7gk0" />
</head>
<body>
  <div class="container">
