<% include ./partials/header.ejs %>

<div class="text-center" id="error404">
  <img class="img-fluid" src="/img/frustrated.png" alt="error404">

  <p class="display-1">
    Error 404
  </p>

</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
    <img class="img-fluid" src="/img/baba.gif" alt="errorBaba">
  </div>

  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <p class="text-left" id="saint-quote">
      " Seems like you are lost. Calm down and
      allow me to enlighten you to the correct path child.
      To follow me "
    </p>
    <p class="text-left" style="font-size:2em;">
      <i class="fas fa-hand-point-right"></i>
      <a id="clickhere" class="btn btn-outline-warning text-dark" href="/">
        Click here
      </a>
    </p>
  </div>

</div>

<%include ./partials/footer.ejs %>
