<% include ./partials/header.ejs %>

<header class="header">
  <h1 class="display-3 d-inline">
    <strong style="font-family: 'Cookie', cursive;" >Saurabh Panja</strong>
  </h1>
  <span class="d-inline">(website is under development)</span>
</header>

<hr>




<!-- profile -->

<div class="row">
  <div class="col-sm-8 text-center">
    <img id="me" class="img-fluid" src="/img/SaurabhPanja.png" alt="Saurabh Panja">
    <blockquote class="blockquote text-left">
      Hi! I am <strong class="font-weight-normal">Saurabh Panja</strong>, I am developer, a blogger.This is my website
    </blockquote>
  </div>

  <div class="col-sm-4">
    <table class="table table-dark">
      <th>Read About</th>
      <tr>
        <td>
          <a id="zoom" href="/blockchain">Blockchain</a>
        </td>
      </tr>
      <tr>
        <td>
          <a id="zoom" href="/blockchain">Node js</a>
        </td>
      </tr>
      <tr>
        <td>
          <a id="zoom" href="/blockchain">Front-end Design</a>
        </td>
      </tr>
    </table>

  </div>

</div>

<!-- social butttons -->
<div class="container-fluid" id="social-buttons">
  <div class="col-sm-12 text-center">
    <div class="h4">
      Find me on
    </div>
    <a id="zoom" href="https://twitter.com/SaurabhPanja" target="_blank">
      <i class="display-5 text-dark fab fa-twitter m-3" ></i>
    </a>

    <a id="zoom" href="https://www.youtube.com/channel/UCjRCTsuhNeJvaLjc7cgDX2w?view_as=subscriber" target="_blank">
      <i class="display-5 text-dark fab fa-youtube m-3" ></i>
    </a>

    <a id="zoom" href="https://www.quora.com/profile/Saurabh-Panja" target="_blank">
      <i class="display-5 text-dark fab fa-quora m-3" ></i>
    </a>

    <a id="zoom" href="https://www.facebook.com/saurabh.panja.94" target="_blank">
      <i class="display-5 text-dark fab fa-facebook m-3" ></i>
    </a>

    <a id="zoom" href="https://www.linkedin.com/in/saurabh-panja-70a4a0167/" target="_blank">
      <i class="display-5 text-dark fab fa-linkedin m-3" ></i>
    </a>

    <a id="zoom" href="https://www.instagram.com/saurabhpanja3/" target="_blank">
      <i class="display-5 text-dark fab fa-instagram m-3"></i>
    </a>
  </div>

</div>

<%include ./partials/footer.ejs %>
